<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">user01</property>
		<property name="hibernate.connection.password">abc123</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<property name="show_sql">true</property>
		
		<property name="format_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.connection.autocomit">true</property>
		
		<mapping class="hibernate.student.Student"/>
       <mapping class="hibernate.student.Teacher"/>
		
	</session-factory>
</hibernate-configuration>